* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header {
    background: #FAF9FE;
    height: 739px;
}

.header {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    background: #FAF9FE;
    align-items: center;
    height: 143px;

}

.header__menu li.link__principal {
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    color: #000;
}

.header__menu li.link__secundario {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
}

.header__menu li a {
    color: #000;
}

.menu__principal {
    display: flex;
    gap: 32px;
    align-items: center;
}

.menu__agendar {
    gap: 10px;
    color: #fff;
    width: 209px;
    height: 56px;
    background: #4269E0;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__banner {
    background: #FAF9FE;
    display: flex;
    justify-content: center;
    margin-top: 55px;
}


.title__banner {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 56px;
    color: #303A53;
    margin-top: 36px;
}


.paragraf-banner {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    margin-top: 16px;
}

.descricao__banner {
    margin-right: 40px;
    width: 520px;

}